.post-img{
	height: 300px;
	overflow: hidden;
}

.post-img img{
	width: 100%;
}
.blog-post-content{
	margin-top: 10px;
	/*background-color: red;*/
}
.blog-post-content h1{
	text-align: center;
}
.row{
	display: flex;
	
}
.more-post{
	flex-direction: column;
}
.blogpost-meta{
	
	display: flex;
	justify-content: space-between;
}
.author-info{
	margin: 12px 0;
}
.author-info div{
	paddin: 4px 12px;
	font-family: var(--font2);
}